.f-space10 {
    margin: 15px 0;
}
.login-block  h2,
.listview h2,
.comments-view h2,
.publish-rightblk h2 {
    background-color: #303030;
    color: #fff;
    margin: 0 0 15px;
    padding: 5px 15px;
    text-align: left;
}
.listview,
.posts-comments,
.publish-block {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
.registeration-link {
	margin: 15px 0;
}
.user-image {
    text-align: center;
}
.fa-user {
	font-size: 15em;
}
.info-block p {
    margin: 8px 0;
    text-align: center;
}
.info-block,
.publish-leftblk,
.login-block {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
}
.profile-heading {
    margin-bottom: 15px;
}
.profile-heading span {
    background-color: #303030;
    color: #fff;
    font-size: 30px;
    padding: 5px 15px;
}
.jumbotron {
	background-color: #ccc;
}
.well {
	background-color: #ddd;
}
.comment-body {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-top: 15px;
    padding: 10px;
}

@media only screen and (max-width : 768px) {
    .listview,
    .posts-comments,
    .publish-block {
        padding: 0px;
        margin-top: 15px;
    }
}